// Global Elements 
@import "mixins";
@import "var2";
@import "base";

// Grid
@include grid-wrap();
@include grid();
@include grid-s();
@include grid-l-span ($gdl-class: '', $gdl-count: 4, $parent-width: 100%);

// UI Styles
.logo {
    background: url(../images/logo-default.png) no-repeat scroll 0 8px transparent;
    border-right: 1px solid lighten($main-font-color, 50%);
    height: 72px;
    margin: 0 auto;
    width: 150px;
    display: block;
    float: left;
    & span {
	    color: $main-font-color;
	    display: block;
	    font-size: 82%;
	    font-weight: normal;
	    padding: 50px 0 0;
	}
}
// header
.header {
    overflow: hidden;
	& h1 {
	    color: $main-font-color;
	    float: left;
	    font-size: 1.4em;
	    font-weight: 400;
	    padding: 22px 20px 0 28px;
	}
	.chat {
		position: absolute;
		top: 0;
		right: 110px;
		width: 120px;
		line-height: 1em;
		margin: 0;
		padding: 0 2%;
		//padding: 0.4% 2%;
		text-align: center;
		color: #fff;
		cursor: pointer;
		//background: rgba(#474F5D, 0.6);
	}
}
.breadcrumb {
	width: 5%;
	float: left;
	text-align: center;
	margin: 2% 0 0 0;
	color: $greenDar;
	background-color: lighten($greenDar, 40%);
	cursor: pointer;
	&:nth-child(2n+1) {
		background-color: lighten($greenDar, 20%);
	}
	&:hover {
		background-color: $greenDar;
		color: #ffffff;
	}
}

// Signup vertical allign content
%centerMe {
	position: absolute;
	margin-top: -220px;
	top: 50%;
}

.aboutOverlay {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background: url("../images/spacer.png") repeat scroll 0 0 rgba(238, 240, 241, 0.5);
	z-index: 9999999;

	.overlayContent {
		position: absolute;
		top: 10%;
		left: 50%;
		width: 700px;
		margin: 0 0 0 -350px;
		padding: 2%;
		background: #fff;
		@include box-shadow(0 1px 5px rgba(0,0,0,0.3));
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		width: 70px;
		height: 30px;
		padding: 4px 5px;
		color: #fff;
		cursor: pointer;
		background: url(../images/customicons.png) no-repeat 22px -302px #3FB1A4;
	}
	h2 {
		margin: 10px 0 20px;
		text-align: center;
		color: #3FB1A4;
	}
	p {
		margin: 0 0 10px;
	}
	ul {

	}
	li {
		font-size: 0.8em;
		margin: 0 0 5px;
	}
	.helpfullinks,
	.asseenin {
		width: 100%;
		clear: both;
	}
	.helpfullinks {
		margin: 0 0 20px;
		overflow: hidden;
		ul {

		}
		li {
			float: left;
			margin: 0 30px 0 0;
		}
	}
	.asseenin {
		background: none repeat scroll 0 0 #EEEEEE;
	    border-radius: 5px;
	    overflow: hidden;
	    padding: 10px;

		span {
			background: url("../images/LPimages24.png") no-repeat scroll center 4% rgba(0, 0, 0, 0);
    		min-width: 135px;
    		display: block;
		    float: left;
		    margin: 0;
		    padding: 0 0 44px;
		    width: 25%;
		}
		.hgtv {

		}
		.hgtvPro {
			background-position: center 23%;
		}
		.diy {
			background-position: center 43%;
		}
		.fln {
			background-position: center 61%;
		}
	}
}

.free {
    height: 200px;
    position: absolute;
    right: 4%;
    bottom: 4%;
    width: 200px;
    display: none;
	img {width: 100%;}
}

#bizinfoInfoBox {
	.infoTool {display: none;}
}

// infoSection
.infoSection {
	left:0;
	width: 46%;
    font-size: 90%;
    padding: 0 4% 3%;
    margin: -220px 0 0 8px;
    background-color: rgba(255, 255, 255, 0.56);
    @extend %centerMe;

    .ribbon {
    	position: absolute;
    	bottom: -13px;
    	left: -12px;
    	width: 158px;
    	height: 158px;
    	cursor: pointer;
    	background: url(../images/lm-ribbon.png) no-repeat;
    }

	.infoBox {
		display: none;
		height: 400px;
		width: 100%;
		img {
			width: 40%;
			float: right;
			margin: 0 0 0 2%;
		}
  		ul {
  			display: table-cell;
  			vertical-align: middle;
  			li {
  				line-height: 2em;
  				font-weight: 200;
  				font-size: .9em;
  				b {font-weight: bold; color: $greenDar; font-size: 1.2em;padding: 0 2% 0 0;}
  				h2 {
					font-size: 18px;
					margin: 0 0 3% 0;
					line-height: 1.4em;
				}
				h3 {
					font-size: 20px;
					margin: 3% 0 0 0;
					line-height: 1.4em;
					b {font-weight: normal; font-size: 78%;}
				}
  			}
  		}
		&.active {
			display: table;
		}
		& .qlink {cursor: pointer;}
		&#billingInfoBox {
			ul {
				li {
					h3 {margin: 2% 0 0 0;}
				}
			}
		}
	}
}

// breadWrap
.breadWrap {
	width: 40%;
	float: right;
	top: 12%;
	right: 10px;
	position: absolute;
	height: 20px;
	display: none;
	z-index: 99;
	&:after {
		background-color: #757f89;
		height: 3px;
		width: 96%;
		content: "";
		display: block;
		margin: 8px 0 0 0;
	}
	%section {
		@include border-radius(50%);
		width: 20px;
		height: 20px;
		background-color: #b1b9c0;
		position: absolute;
		top: 0;
		background-image: url(../images/sprite-white.png);
		background-repeat: no-repeat;
		background-position: center -1000px;
		cursor: pointer;
		@include transition(all 0.4s ease-in-out);
		.toolInfo {
			display: none;
			width: 180px;
			position: absolute;
			bottom: 32px;
			left: -90px;
			padding: 10px;
			@include border-radius(.1em);
			background-color: #3fc6f3;
			color: #fff;
			&:after {
				background-image: url(../images/arrowTool.png);
				background-repeat: no-repeat;
				background-position: center top;
				content: "";
				display: block;
				width: 20px;
				height: 9px;
				position: absolute;
				bottom: -9px;
				left: 90px;
			}
			h3 {
				text-align: center;
				color: #ffffff;
				font-size: 0.8em;
			}
		}
		&:hover {
			background-color: $greenDar;
			.toolInfo {
				display: block;
			}
		}
		&:after {
			background-color: #ffffff;
			height: 6px;
			@include border-radius(50%);
			width: 6px;
			content: "";
			display: block;
			margin: 7px auto;
		}
		&.done {
			background-color: #3fc6f3;
		}
		&.active {
			width: 60px;
			height: 60px;
			top: -100%;
			background-color: $greenDar;
			&:after {display: none;}
			&:hover {
				.toolInfo {
					display: none;
				}
			}
		}
	}
	.sec1 {@extend %section; left: 0; &.active {left:-6%; background-position: 0 center;}}
	.sec2 {@extend %section; left: 33%; &.active {left:27%; background-position: -60px center;}}
	.sec3 {@extend %section; left: 66%; &.active {left:60%; background-position: -120px center;}}
	.sec4 {@extend %section; left: 96%; &.active {left:89%; background-position: -180px center;}}
	.sec4 .toolInfo {
		&:after {
			left: 150px;
		}
		left: -150px;
	}
	
}

// stickyWrap 
.stickyWrap {
	height: 100%;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	//overflow-x: hidden;

}

// learnMore
.learnMore {
	overflow: hidden;
	text-align: center;
	position: absolute;
	bottom: 20px;
	color: lighten($main-font-color, 10%);
	cursor: pointer;

	left: 50%;
    margin: 0 0 -50px -45px;
    h5 {
    	font-size: .9em;
    	margin: 0 0 .4em 0;
    }
	.iconMore {
		background-image: url(../images/sign-icon.png);
		background-color: $greenDar;
		@include border-radius(50%);
		background-position: -663px 200%;
		width: 70px;
		height: 70px;
		border: $uiBorder;
		@include transition(all 0.4s ease 0s);
	}
	&:hover {
		h5 {color: $greenDar;}
		.iconMore {
			color: $greenDar;
			background-color:$main-font-color;
			background-position: -663px 180%;
		}
	}
}
.learnWrap {
	width: 100%;
	margin: 0;
	padding: 3% 0 0 0;
	overflow: hidden;
	%sample {
		display: table;
		width: 36%;
		float: left;
   		img {
			display: block;
		    max-width: 100%;
		    &.right {float: right;}
		}
		// &:nth-child(2n+1) {
		// 	float: right;
		// }
	}
	.inerText {
		display: table-cell; 
  		vertical-align: middle; 
  		h2, p {line-height: 1.6em;}
  		p {
  			font-weight: 200;
  			font-size: 14px;
  		}
	}
	.blueWrap {
		background-color: #6BC0E7;
		overflow: hidden;
		width: 100%;
	}
	.moreBox  {
		width: $start-width;
		margin: 0 auto;
		padding: 3% 0;
	}
	.moreImg {
		@extend %sample;
		width: 64%;
	}
	.moreContent {
		height: 410px;
		padding: 0 3%;
		@extend %sample;
	}
	.center {
		text-align: center;
		padding: 0;
		.moreImg, .moreContent {
			float: none;
			width: 80%;
			margin: 0 auto;
			img {margin: 0 auto;}
		}
		.moreContent {
			margin: 3% auto;
			padding: 0;
			height: auto;
		}
	}
	.noSpace {
		padding: 0;
	}
}
.grayWrap {
	background-color: lighten(#929BAB, 20%);
	overflow: hidden;
		width: 100%;
}
.getStarted {
    display: block;
    margin: 1% auto;
    max-width: 200px;
    min-width: 160px;
    padding: 0.4em;
    text-align: center;
    width: 18%;
	@extend .btnAll;
	&:hover {
		@extend .btnAll:hover;
	}
}

// break
// .break {
// 	width: 100%;
// 	height: 1px;
// 	clear: both;
// 	background-color: lighten($main-font-color, 30%);
// }
.btmWrap {
	background-color: #ffffff;
	width: 100%;
	border-top:1px solid lighten($main-font-color, 30%);
}

// maskWrap
// .maskWrap {
// 	height: 100%;
// 	width: 100%;
// 	overflow: hidden;
// }

// box
.boxWrap {
	width: 40%;
	display:block;
	// overflow:hidden;
	left: 0;
	margin-left: 60%;
	@extend %centerMe;
	&.subOn {
		width: 100%;
		margin-left: 0;
		margin-top: -270px;
	}
	.logo {
	    border-right: 0 none;
	    margin: 0 auto;
	    width: 125px;
	    display: block;
	    float: none;
	    & span {
		    color: $main-font-color;
		    display: block;
		    font-size: 82%;
		    font-weight: normal;
		    padding: 50px 0 0;
		}
	}
}
.box {
	// background:url(../images/spacer.png);
	min-height:410px;
	display: none;
	// @extend .gdS2;
	@include transition(width 0.5s ease-in-out);

	& .moneyback {
		height: 178px;
		width: 178px;
		position: absolute;
		top:-30;
		left: -160px;
		z-index: -1;
		background: url(../images/money-back.png) no-repeat;

		&.neon {
			background: url(../images/neonsign.png) no-repeat;
		}
	}
    & .hideShow { // Required for winflip
		display: none;
		& h1 {
			font-size: 132%;
    		margin: 2% 1%;
		}
	}
	& .icon {
		float:none;
		width:95px;
		height:95px;
		margin:50% auto 0 auto;
		background:url(../images/icon.png) no-repeat 0 95px; 
	}
	& .checkLabel,& .check {
		color: $main-font-color;
	    display: block;
	    font-size: 0.8em;
	    height: 20px;
	    line-height: 1.2em;
	    margin: 0;
	    padding: 0;
	}
	& .check {
		float:left;
    	margin: 0 1% 0 0;
	}
	& h2, & h3 {
		font-weight:700;
	}
	& h2 {
		font-size: 2em;
		font-weight: 200;
	    line-height: 1em;
	    padding: 0 0 4%;
	    text-align: center;
	}
	& h3 {
		font-size:1.375em;
		text-align:center;
		margin:10px 0 0 0;
	}
	& h4 {
		float: left;
		width: 100%;
	    color: lighten($main-font-color, 30%);
	    text-align: center;
	    font-size: 1.6em;
	    font-weight: 200;
	    margin: 0 auto 3%;
	    & .showOptional {
	    	display: inline-block;
	    	width: 18px;
	    	height: 18px;
	    	cursor: pointer;
	    	float: right;
	    	background: url(../images/customicons.png) no-repeat right -233px;

	    	&.open {
	    		background-position: right -253px;
	    	}
	    }
	}
	& label {
		margin:3px auto;
		font-size:.875em;
		display: block;
	    color:$main-font-color;
	}
	& .additionalInfo {
		display: none;
		clear: both;
		margin: 2% 0;
		overflow: hidden;

		& h4 {
			width: 60%;
			float: left;
		}
		& .cspreview {
			display: block;
			float: right;
			max-width: 150px;
			max-height: 70px;
			width: 150px;
			height: 70px;
			background: #fff;
		}
	}
	& .fileUpload {
		float: left;
		position: relative;
		padding: 2% 2% 2% 10%;
		overflow: hidden;
		background: url('../images/customicons.png') no-repeat -12px 95% #44A9DE;

		&:hover {
			background: url('../images/customicons.png') no-repeat -12px 95% #F18C2C;
		}

		& input[type="file"]{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			cursor: pointer;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
	&#sub {
		.moneyback {
			//right: 10px;
			left: 0;
			background-size: 70% auto;
		}
		.option {
			width: 31%;
			margin: 0 3% 0 0;
			float: left;
			padding: 2%;
			background-color: rgba(238,240,241,.5);
			border:1px solid #c5ced8;
			position: relative;
			.leadIcon {
				background-image: url(../images/sign-icon.png);
				background-repeat: no-repeat;
				width: 180px;
				height: 90px;
				margin: 6% auto;
				clear: both;
			}
			h4 {
				float: none;
				color: #306C9B;
				font-size: 1.4em;
				font-weight: normal;
			}
			span {
				color: #46B19B;
				font-size: 1.6em;
				font-weight: bold;
			}
			h5 {
				color: #828B9B;
				margin: 0 0 28px;
				text-align: center;
				width: 100%;
				font-size: 0.8em;
			}
			ul {
				font-size: 130%;
				text-align: center;
				line-height: 1.4em;
				margin: 0 0 6% 0;
			}
			.btnNextUp {
				margin: 4% 0 -8% 0;
			}
			&.good {
				.leadIcon{background-position: left center;}
			}
			&.better {
				margin: 0;
				.leadIcon{background-position: -198px center;}
			}
			&.best {
				
				.leadIcon{background-position: -396px center;}
				&:after {
					content: "";
					display: block;
					position: absolute;
				    right: 20px;
				    top: -8px;
					height: 100px;
					width: 44px;
					background-image: url(../images/sign-icon.png);
					background-position: -594px center;
					background-repeat: no-repeat;
				}
			}
		}
	}
	&#inquirytype {
		h4 {
			font-size: 1.4em;
		}
	}
	&#inquirytype label {
		background-color: rgba(238, 240, 241, 0.5);
    	border: 1px solid #C5CED8;
	    margin: 0 1% 10px;
	    padding: 1% 1% 4%;
	    width: 48%;
	    min-height: 210px;
	    float: left;
	    cursor: pointer;
	    overflow: hidden;
	    // &.large {
	    // 	background-color: rgba(238, 240, 241, 0.7);
	    // }
	    &:nth-child(2n+1) {
	    	background-color: rgba(238, 240, 241, 0.7);
	    }
	    &:hover,  &.large {
	    	background-color: $blue;
	    	p {
	    		color: #ffffff;
	    	}
	    }
	    & input[type="checkbox"], & input[type="radio"] {
	    	float: left;
	    	margin: 5px;
	    }

	    & .icon_ec,
	    & .icon_leads {
	    	//float: left;
	    	clear: both;
	    	width: 68px;
			height: 68px;
			margin: 0 auto;
			background: url('../images/customicons.png') no-repeat;
	    }
	    & .icon_ec {
	    	background-position: 0 0;
	    }
	    & .icon_leads {
	    	background-position: 0 -68px;
	    }
	    & p{
	    	font-size: 0.8em;
	    	margin: 0 3%;
	    }
	    & span {
	    	text-align: center;
	    	display: block;
	    	margin: 1% 0 2%;
	    	font-size: 1.2em;
	    	font-weight: bold;
	    }
	}
	&.active .urldiv {
		overflow: hidden;

		& h3 {
			position: relative;
			color: $main-font-color;
			display: block;
			text-align: left;
			font-size: 0.9em;
		}
		& .apply {
			position: absolute;
			top: 36px;
			right: 12px;
			font-size: 0.6em;
			color:#ee0000;
			cursor: pointer;

			&:hover {
				color: #43A9DD;
			}
		}
		& input[type="text"] {
			margin: 5px 0 0;
			padding: 1% 80px 1% 2%;
		}
	}
	&.active .previewdiv {
		clear: both;
	    margin: 0 0 20px;
	    overflow: hidden;

	    h3 {
			display: block;
			color: $main-font-color;
		    float: left;
		    font-size: 1em;
		    text-align: left;
		    width: 46%;
		    margin: 80px 0 0;
		}
	}
	& .myurl {
		float: left;
		clear: both;
		width: 46%;
		word-wrap: break-word;
		text-align: left;
		font-size: 0.8em;
	}
	& #durlspreview {
		height: 330px;
		overflow-y: auto;
		margin: 0 0 0 5px;
		padding: 0 5px 0 0;
	}
	& .sitepreviewimg {
		float: right;
		height: auto;
		width: 50%;
		margin: -80px 0 0;
		@include transition(all 0.2s ease 0s);

		&:hover {
			width: 100%;
		}
	}
	& p {
		clear: both;
		color: #929BAB;
	    font-size: 1em;
	    padding: 0 1% 2% 1%;
	    text-align: left;
	}
	& .addLabel {
		width:50%;
		float: right;
		margin:$globalSpace;
	}
	&.active { // Required for winflip
		width:100%;
		//background:rgba(46,159,203,.8);
		// background: #2E9FCB;
		position:relative;
		display: block;
		& h3 {
			display: none;
		}
		& .hideShow { // Required for winflip
			display: block;
			// padding:4% 0;
			overflow: hidden;
		}
		.subOn & .hideShow { // Required for winflip
			padding:4% 0;
		}
		& .icon {
			float: right;
			width:50px;
			height:50px;
		    margin: 0;
		    right:0;
		    top:0;
		    position: absolute;
		    display: block;
		}
	}
	&.offnone { // Required for winflip
		background: none;
		position: relative;
		overflow: visible;
		& .icon {
			display: none;
		}
	}
}
// Box icon
.icon {
	&.loginIf {
		background-position: center -383px;
		.active & {
			background-position: center -670px;
		}
	}
	&.conIf {
		background-position: center -3px;
		.active & {
			background-position: center -522px;
		}
	}
	&.payIf {
		background-position: center -124px;
		.active & {
			background-position: center -574px;
		}
	}
	&.locIf {
		background-position: center -252px;
		.active & {
			background-position: center -620px;
		}
	}
}
// Button Extend
button {
	@extend .btnAll;
	&:hover {
		@extend .btnAll:hover;
	}
	&.catTopEdit {
		background:$green;
		color:$white;
		font-size: .8em;
		float: left;
		width: auto;
		margin:0 1%;
		padding:0 2%;
		&.addCat {
			float: right;
			padding: 0.5% 2%;
			margin: -3% -3% 2% 0;
			background:#2D4E77;
		}
		&:hover {
			background:$orange;
		}
	}
}
.btnAdd {
	@extend .btnAll;
	text-align:center;
	background: $green;
	font-size:1em;
	margin:1.2% auto 4% auto;
	width:25%;
	float:right;
}
// loginWrap
.loginWrap {
	// background: #F6F7F9;
    // border: 1px solid #C4CED8;
    // border-top: 0 none;
    color: lighten($main-font-color, 30%);
    line-height: 1em;
    margin: 0;
    padding: 0.4% 2%;
    position: relative;
    text-decoration: none;
    float:right;
    display: block;
    &:hover {
    	color: #ffffff;
    	background:$greenDar;
    }
}
//  leadW
ul.gdL {
	margin: 0 0 2% 0;
	width:100%;
	& li {
		position:relative;
		width:49%;
		margin: 0 1% 2% 0;
		font-size:106%;
		padding:2%;
		float: left;
		text-align: center;
		background:rgba(255,255,255,.2);
		&.liHead {
			display: none;
		}
		&:nth-child(odd) {
			margin: 0 0 2% 1%;
			// background:rgba(255,255,255,.2);
		}
		& .edit {
			display: none;
			position:absolute;
			left: 0;
			width: 100%;
			height:2em;
			& button {
				height: 100%;
				padding: 0 1%;
				font-size: 1em;
				&.editMe {
					float: right;
				}
			}
		}
		& span, & input[type="text"], & input[type="number"]  {
			height: autop;
    		line-height: 22px;
			text-align: center;
			border:none;
			background:none;
			color: $main-font-color;
			&:focus {    
				color: $gray;
				background:$white;
				border-bottom:none;
				@include box-shadow(0 1px 1px rgba(0,0,0,.7) inset);
			}
			&:focus::-webkit-input-placeholder, &:focus::-moz-placeholder {
			    @include box-shadow(none);
			    color: $gray;
			    border-bottom:none;
			}
		}
		& span {
			// white-space: nowrap;
			// overflow: hidden;
			// text-overflow:ellipsis;
			display: block;
		    height: 92px;
		    padding: 6% 0 0;
		    width: 100%;
		}
		label {
			font-size: 0.8em;
		    height: 36px;
		    line-height: 1.1em;
		    padding: 0.3em 0;
		    text-align: left;
		}
		& input[type="text"], & input[type="number"]  {
			background:$white;
			background:none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
			border-bottom:2px solid #105270;
			@include letterpress(1);
			margin: 2% 0 0 1%;
    		width: 66%;
    		color: $gray;
    		float: right;
    		font-weight: bold;
    		text-align: left;
    		padding:1% 6%;
			&:hover {
				border-bottom:none;
				cursor: pointer;
				background:$white;
				background:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
				&:focus {    
					color: $gray;
					background:$white;
					border-bottom:none;
				}
			}
		}
		& span.st-icon {
			background:url(../images/strength.png) no-repeat 94% -78px;
			height: 22px;
			width: 38px;
			bottom: 53px;
		    position: absolute;
		    right: 8px;
		    z-index: 99999;
			&.great {
				background-position: center -62px;
			}
			&.good {
				background-position: center -41px;
			}
			&.fair {
				background-position: center -17px;
			}
			&.poor {
				background-position: center 4px;
			}
		}
		& span.selWrap{
		    height: 22px;
		    margin: 0 0 1px 0;
		    padding: 0;
		    & select.selIner {
			    height: 22px;
			    left: 0;
			}
			& span.selText {
				width:100%;
				padding: 0 16px 0 0;
				background:url(../images/sm-arrow-green.png) no-repeat 100% 97.8% $white;
				color:$gray;
				border-bottom:2px solid #105270;
				@include letterpress(0);
			}
		}
	}
}

// .toolSignUp {
// 	display: none;
//     background: none repeat scroll 0 0 rgba(255,255,255,.9);
//     font-size: 120%;
//     left: -61%;
//     padding: 4.6% 4%;
//     position: absolute;
//     text-align: center;
//     top: 184px;
//     width: 50%;
//     z-index: 99999;
//     b {font-size:120%;}
//     &::after, &:after {
// 		background:url("../images/arrowToolSignUp.png") no-repeat scroll 0 0 transparent;
// 	    clear: both;
// 	    content: "";
// 	    display: block;
// 	    height: 93px;
// 	    position: absolute;
// 	    right: -21%;
// 	    top: 0;
// 	    width: 45px;
// 	    display:none\9; /* ie fix */
// 	}
// 	&.rightSelect {
// 		top: 140px;
// 		left:500px;
// 		&::after, &:after {
// 			background:url("../images/arrowToolSignUp-left.png") no-repeat scroll 0 0 transparent;
// 			left:-45px;
// 		}
// 	}
// 	&.billingCard {
//     	top: 349px;
//     	 &::after, &:after {
//     		top: 26px;
//     	}
//     }
// }
// proSelect
.proSelect {
	display:none;
	clear:both;
	margin:0 0 2% 0;
	.box.active & h3 {
		display: block;
	    font-size: 1.2em;
	    text-align: left;
	}
	& h4 {
		padding:0 6%;
		font-weight: normal;
		cursor: pointer;
		&:hover {
	    	background:url("../images/icon.png") no-repeat scroll -40px -934px $red;
	    }
	}
}
// creditIcon
.creditWrap {
	float: right;
    margin: 2% 0;
    overflow: hidden;
    width: 33%;
	& span {
		background:url(../images/credit.png) no-repeat 0 0;
		background-size: 100% auto;
		width: 22%;
		height: 26px;
		display: block;
		float: left;
		margin: 0 1%;
		&.visa {
			background-position: 0 0;
		}
		&.master {
			background-position: 0 29.586%;
		}
		&.discover {
			background-position: 0 59.241%;
		}
		&.amex {
			background-position: 0 88.361%;
		}
	}
}
// Select width
select {
	&.catSel {
		width: 100%;
		margin:0 auto 2% auto;
	}
	&.servSel {
		width: 70%;
		margin:$globalSpace;
		float: left;
	}
	&.scc {
		width:47%;
		margin:$globalSpace;
		float: left;
	}
	&.radSel {
		width:49%;
		margin:$globalSpace;
		float: left;
	}
	&.expDM {
		width: 36%;
		float: left;
		margin:$globalSpaceR;
	}
	&.expY {
		width: 26%;
		float: left;
		margin:$globalSpaceR;
	}
	&.wekBudg {

	}
}
// Input Size
input[type="number"] {
	-webkit-appearance:none;
}
input[type="text"], input[type="number"] {
	// &.fName {
	// 	width:49%;
	// 	float:left;
	// 	margin: $globalSpaceR;
	// 	}
	// &.lName {
	// 	@extend .fName;
	// 	margin:$globalSpace;
	// }
	// &.fName {
	// 	margin: $globalSpaceR;
	// 	}
	// &.lName {
	// 	margin:$globalSpace;
	// }	
	&.zip{
		margin: 0 auto 2% auto;
	}
	// &.phone1 {
	// 	width:76%;
	// 	float:left;
	// 	margin: $globalSpaceR;
	// }
	// &.phone2 {
	// 	@extend .phone1;
	// }
	// &.phone3 {
	// 	width:22%;
	// 	@extend .phone1;
	// }
	&.phone4 {
		width: 22%;
		margin:0;
		float: right;
	}
	&.searchLi {
		width:47%;
		float:left;
		margin:$globalSpace;
		display: none;
	}
	&.radZip {
		width:49%;
	 	float:left;
	 	margin: $globalSpaceR;
	}
	// &.cardNum {
	// 	width:56%;
	// 	float:left;
	//  	margin: $globalSpaceR;
	// }
	// &.cvs-bill, &.zip-bill {
	// 	width:41%;
	// 	float: right;
	// 	margin:$globalSpace;
	// }
}
// terms
p.terms, .terms {
	overflow:hidden;
	margin:0 0 2% 0;
	float:left;
	padding: 0;
	width: 100%;
	clear: both;
	& input[type="checkbox"] {
		float: left;
		margin:.5% 0 0 0;
	}
	& label {
		float: left;
	    margin: 0 0 0 1%;
	    width: 92%;
	    text-align: left;
	    color: $main-font-color;
	}
	&.year1 {
		background-color: rgba(238,240,241,.5);
		border:1px solid #c5ced8;
		margin: 3% 0;
    	padding: 3%;
    	cursor: pointer;
    	&:hover {
    		background-color: $blue;
    		label {color: #ffffff;}
    	}
	}
}
.radioWrap {
	float: right;
    overflow: hidden;
    width: 50%;
    height: 36px;
    margin: 2% 0 0;
	& input[type="radio"] {
		margin: 0 1% 0 3%;
		display: inline-block;
	}
	& label {
		display: inline-block;
		width: auto;
		font-size: 74%;
	}
}
// Add Remove 
.addMe {
    float: left;
    height: auto;
    margin:$globalSpace;
    width: 47%;
    position:relative;
	background: none repeat scroll 0 0 #FFFFFF;
	border: $uiBorder;
	height: 176px;
	padding:0;
	overflow: scroll;
	overflow-x: hidden;
    & li{
    	font-weight: 700;
    	cursor: pointer;
    	font-size: .7em;
    	line-height: 1.5em;
    	padding:1% 2%;
    	color:$gray;
    	display: block;
    	position:relative;
    	width: 200%;
    	padding: 1% 2% 1% 24px;
	    background:url("../images/icon.png") no-repeat scroll 3px -944px ;
    	&:hover, &.added {
		    color:$white;
		    background-position:3px -834px;
		    background-color: $green;
	    }
	    &:hover {
	    	width:100%;
	    }
	}
}
.removeMe {
	clear: right;
    float: right;
    width: 50%;
    @extend .addMe;
    & li{
    	padding: 1% 2%;
	    background-position:3px -965px;
	    &:hover {
	    	width:100%;
	    	padding: 1% 2% 1% 24px;
	    	background-position:3px -873px;
	    	background-color: $red;
	    }
    }
}
.mapBox {
    //background:url("../images/map.jpg") no-repeat scroll center center #FFFFFF;
    background: #EBF4FB;
    border: $uiBorder;
    clear: both;
    height: 204px;
    width: 100%;
    margin:$globalSpace;
}
.mapClick {
    padding: 0.5% 0;
    float: right;
    font-size: 1em;
    margin: 0 0 -25px;
    width: 26%;
    position: relative;
}
// addRemoveBtn
.addRemoveBtn {
	display:none;
}
.addRemoveText {
	float:right;
}
// hideServ 
.hideServ {
	clear: both;
    display: none;
    // overflow: hidden;
}
.hideServ h5, .hideServ h6, .hideShow h5, .hideShow h6 {
	font-size: 100%;
	color: lighten($main-font-color, 10%);
	z-index: 999;
	float:left;
	width:50%;
	clear: right;
	padding: 0 0 0 1%;
}
.hideServ h6, .hideShow h6 {
	float:right;
}
// Leads per
.leadsPer {
	margin: 4% auto;
    width: 42%;
    .box.active & .icon {
    	background-position: center -800px;
	    float: left;
	    height: 30px;
	    margin: 3px 6px 0 0;
	    position: relative;
	    right: auto;
	    top: auto;
	    width: 20%;
    }
    & h5 {
	     display: block;
	    font-size: 100%;
	    line-height: 1em;
	    margin: 0;
	    padding: 0;
	    width: 74%;
	}
	& h6 {
	    font-size: 0.79em;
	    font-weight: 400;
	    line-height: 1em;
	    margin: 0;
	    padding: 0;
	    width: 74%;
	    float: left;
	}
}
.lpWrap, .header h2 {display:none;}
// body start 
ul.lpInfo {display:none;}
body.start {
	& ul.lpInfo {
		    height: 360px;
		    width: 100%;
	    	color: $main-font-color;
	    	display: block;
	    	list-style:none;
	    	float: left;
	    	overflow: visible;
	    	margin: 0 auto 20px;
	    	display: none;
    	& li {
    		@extend .gdS3;
    		font-size: 1.08em;
    		padding:0 2% 3% 2%;
	    	text-align: center;
	    	line-height: 1.6em;
	    	font-weight: normal;
			height: 100%;
    		background:url(../images/spacer.png);
    		position:relative;
    		& .getStarted {
    			margin: 4% 0 0 0;
    			padding:3% 0;
    			font-size: 2em;
    			@extend .btnAll;
    		}
    		& h4 {
	    		font-size: 2em;
			    margin: 16% 0 0;
			    text-align: center;
	    	}
    		& .icon {
    			display: block;
				float:none;
				width:95px;
				height:95px;
				margin:10% auto;
				background:url(../images/icon.png) no-repeat 0 95px;
				&.cv {
					background-position: center -1212px;
				}
				&.qu {
					background-position: center -1036px;
				}
				&.tar {
					background-position: center -1556px;
				}
				&.gSt {
					background-position: center -1384px;
				}
			}
    	}
	}
	& .header {
		& h1{
		    padding: 44px 0 0 20px;
		    // remove white width: 84%;
		}
		& h2{
			color: $main-font-color;
		    display: block;
		    line-height: 1em;
		    float: left;
		    font-size: 2em;
		    font-weight: 400;
		    padding: 0 0 0 0px;
		    clear: both;
		}
	}
}
.free5 {
	width:200px;
	height:200px;
	position:absolute;
	top:410px;
	left:-130px;
	background: url(../images/free5.png) 0 0 no-repeat transparent;
}
body.start ul.lpInfo li.bottomBox {
    height: auto;
    min-height: auto;
    width: 100%;
    & h4 {
    	margin: 2% 0;
    	font-size: 206%;
    }
    & h5 {
    	font-size: 3.4em;
    	margin: 3% 0 0 0;
    }
    & p {
    	font-size: 1.2em;
    	line-height: 1.6em;
    	margin: 0 0 2% 0;
    }
}
// Webkit input number fix
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.inTip {
	position:relative;
	& .inLabel {
		display: none;
	}
	&.inOn {
		& .inLabel {
			bottom: 0;
		    color: lighten($greenDar, 30%);
		    display: block;
		    font-size: 63%;
		    position: absolute;
		    right: 6px;
		    z-index: 999999;
		}
	}
	&.open {
		& .inLabel {
		    color: $greenDar;
		}
	}
	&.zip {
		clear: both;
		margin: $globalSpace;
	}
	&.fName, &.lName, &.halfInput {
		width:49%;
		float:left;
		margin: $globalSpace;
	}
	&.lName {
		float:right;
		width:48%;
		margin:$globalSpace;
	}
	&.fullInput {
	    margin:$globalSpace;
	    clear: both;
	}
	&.phone1 {
	    width:75%;
		float:left;
		margin: $globalSpace;
	}
	&.halfInput {
		width:56%;
	}
	&.cardNum {
		width:64%;
		float:left;
	 	margin: $globalSpaceR;
	}
	&.cvs-bill, &.zip-bill {
		width:34%;
		float: left;
		margin:$globalSpace;
	}
	&.cvs-bill {
	    width: 24%;
	}
}
.udall {
    height: 100%;
    position: absolute;
    right: 21%;
    width: 9px;
}
.udall.active { 
	background: url("../images/ud_arrw.png") no-repeat center center transparent; 
	cursor:pointer; 
}
//infoTool
.infoTool, .toolSignUp {
    float: right;
    height: 0;
    padding: 0;
    position: relative;
    margin: 1% 2%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    clear: both;
    &.cvv {
	    clear: none;
	    margin: 2%;
	}
	&.leadsScreen {
		img {width: 400px;}
	}
    & > span {
    	cursor: pointer;
	    background: none repeat scroll 0 0 $blueLight;
	    @include border-radius(50%);
	    color: #ffffff;
	    font-weight: bold;
	    font-size: 13px;
	    display: block;
	    height: 0;
	    padding: 0 0 100%;
	    text-align: center;
	    width: 100%;
	}
	&:hover > span {
		background:$red;
	}
	& > p, & > img, & .toolBox {
		display: none;
	    background: none repeat scroll 0 0 #FFFFFF;
	    @include box-shadow(0 0 6px #000);
	    bottom: -56px;
	    color: $gray;
	    padding: 10px;
	    font-size: 13px;
	    position: absolute;
	    right: 120%;
	    width: 200px;
	    z-index: 99999999999;
	}
	.box h4 & {
	    display: inline-block;
	    float: none;
	    margin: 0 2%;
	}
	&:hover > p,&:hover > img, &:hover .toolBox {
		display: block;
	}
}

.showInfo {
	position: absolute;
	top: 50px;
	left: -130px;
	width:100px;
	padding: 2%;
	background: #fff;

	span {
		position: absolute;
		bottom: 0;
    	right: -20px;
    	text-indent: -9999px;
    	@include triangle(20px, #fff, right);
	}
	.toolBox {
		span {
			position: relative;
			bottom: auto;
			right: auto;
			text-indent: 0;
			@include triangle(0px, #fff, right);
		}
	}
}

#payment {
	& .hideshow {
		overflow: hidden;
	}
	& h2 {
	    font-size: 1.6em;
	    padding: 0 0 2%;
	    text-align: left;
	}
	& h4 {
		float: left;
	    font-size: 1.2em;
	    margin: 0 0 2%;
	    text-align: left;
	    width: 80%;
	}
	& .btnNext {
		float: left;
		width: 100%;
	}
}
#ccform > h4 {
	float:left;
	width:86%;
}
span.selWrap.wekBudg {
	float:left;
}

.adWrap {
	display:none;
}

// HI ad
body{
	&.hiAd,
	&.reAd {
	    background-attachment: fixed;
		.header {
		    position: fixed;
		    top: 0;
		}
		.howIt {
			top: 38%;
		}
		.gdS12 {
			width: 1140px;
		}
		.adWrap {
			width: $start-width;
			margin: 120px auto 0 auto;
			padding: 3%;
			display: block;
			text-align: center;
			text-shadow: 0 1px 1px rgba(0,0,0,.5);
			min-height: 700px;
			background: url(../images/bgRoof.png) center top no-repeat;
			position: relative;
			z-index: 99;
			&.HVAC {
				background: url(../images/bgHVAC.png) center top no-repeat;
			}
			&.Windows {
				background: url(../images/bgWindows.png) center top no-repeat;
			}
		}
		.adWrap h1, .adWrap h2  {
			font-size: 7em;
	    	width: 53%;
		}
		.adWrap h2  {
			font-size: 2em;
		}
		.adWrap h4 {
		    background: url(../images/LPimages.png) no-repeat scroll 4% 99% transparent;
		    color: #E53F2D;
		    float: left;
		    font-size: 1.6em;
		    padding: 7% 9%;
		    transform: rotate(-5deg);
		}
		.infoWrap {
			width: 43%;
			float: right;
			background: url(../images/LPimages.png) center -455px no-repeat rgba(255,255,255,0.6);
			padding: 4%;

		}
		.infoWrap p {
			color: #011931;
			margin: 22% 0 0 0;
			font-size: 2.2em;
			line-height: 1.4em;
			text-shadow:0 1px 1px #fff;
		}
		.imgWrap {
			width: 55%;
			margin: 4.5% 0;
		}
		.imgWrap img {
			width: 30%;
			margin: 0 1%;
			border-radius: 50%;
			border: 4px solid #fff;
			box-shadow: 0 2px 4px rgba(0,0,0,.5);
		}
		.asSeen {
			width: 55%;
			padding: 2%;
			margin: 2% 0 0 0;
			overflow: hidden;
			background: rgba(255,255,255,0.8);
		}
		.asSeen span {
			background: url(../images/LPimages23.png) center 4% no-repeat;
			background-size:100% auto;
			width: 25%;
			min-width: 135px;
			padding: 0 0 10% 0;
			margin: 0;
			display: block;
			float: left;
		}
		.asSeen span.hgtvPro {background-position: center 23%;}
		.asSeen span.diy {background-position: center 43%;}
		.asSeen span.fln {background-position: center 61%;}
		.asSeen h5 {
			text-align: left;
			color: #333;
			text-shadow: 0 1px 1px rgba(255,255,255,.5);
			font-size: 1em;
		}
	}
	&.reAd {
		.asSeen span {
			background: url(../images/LPimages24.png) center 4% no-repeat;
		}
	}
}


// how it
.howIt {
	background: url("../images/lead-icon.png") no-repeat scroll 94% 95% #f6f7f9;
	border: $uiBorder;
    display: block;
    height: 50px;
    margin: 0 0 4%;
    padding: 0.8em 3em 0.8em 1em;
    position: relative;
    float: right;
    width: 15%;
    color: $greenDar;
    &:hover {
    	background-color: $greenDar;
    	color: #fff;
    }
}

// Error
input.inputred[type="text"] {
	background:#E53F2D !important;
	color:$main-font-color !important;
	text-shadow:0 -1px 1px rgba(0,0,0,.5) !important;
}

//Adds
.msg {
	clear: both;
    margin-bottom: 2%;
    position: relative;
    background: url("../images/sprite-white.png") no-repeat 480px 0 #E8E8E8;
    p {
	    font-size: 12px;
	    padding: 4px 4px 4px 40px;
	    display: table;
	    height: 44px;
	    strong {
	    	display: table-cell;
	    	vertical-align: middle;
	    }
    }
    a.close {
	    width: 34px;
	    height: 34px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    font-size: 0;
	    line-height: 0;
	    text-indent: -4000px;
	    background: url("../images/crm/close.gif") no-repeat;
    }
}
.msg-ok {
	background-position: -466px -192px;
	border-bottom: 3px solid $green;
	p {
	    color: $green;
	}
}
.msg-error {
	background-position: -466px 10px;
    border-bottom: 3px solid $red;
	p {
	    color: $red;
	    text-shadow: 0 1px 1px #FFFFFF;
	}
}
.msg-prepay {
	background-position: -466px -92px;
	border-bottom: 3px solid $blue;
	p {
	    color: $blue;
	    padding-left: 50px;
	}
}
.selIner .ppamt {
	width: 80px;
}
.flipboxContent {
	display: none;
}
.clear {
	clear: both;
}
#category p {
	text-align: left;
}
#georadius, #geofull, #deliveryurl, #sitepreview {
	h2 {font-size: 2em;}
	p {
		text-align:left;
	}
}
#tosbox {
    clear: both;
    color: #777777;
    font-size: 9px;
    height: 224px;
    margin: 0 0 2%;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    border: 4px solid #8ACDE6;
    background: none repeat scroll 0 0 #FFFFFF;
}
.termsprint {
	color: #DDDDDD;
    font-size: 11px;
    margin-bottom: 10px;
}
.boxFooter {
	text-align:center;
	clear:both;
	margin: 0 auto;
	padding: 2% 0;
	font-size: 80%;
	background-color: $main-font-color;
	span {
		margin: 0 20px 0 0;
		color: #888;
	}
	a {
		margin: 0 5px 0 0;
	}

} 
.inputred {
	color: #ff0000;
}
.dontgo {
	position: absolute;
    top: 0;
	width: 78%;
	padding: 15px;
	margin: 0 0 0 36%;
    color: $main-font-color;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    z-index: 99999;
    background-color: #FF0000;

    a {
    	color: $main-font-color;
    	text-decoration: underline;
    }
}
.powerbtn {
	cursor: pointer;
}

// new override BK
.t3catname {
	font-weight: bold;
	color: darken(#929BAB, 10%)
}
#durls {
	clear: both;
}
#ttlsub {
	h5 {
		font-weight: normal;
		width: 100%;
		b {font-weight: bold; color: darken($main-font-color, 1%);}
	}
	
}

// Media Querys
@media only screen and (min-height: 960px)
{
	.breadWrap {
		top: 18%;
	}
}
@media only screen and (max-height: 710px)
{
	.breadWrap {
		top: 8%;
	}
}
@media only screen and (max-width: 1140px){
	body {
		overflow-x: visible;
	}
	.stickyWrap {
		overflow-x: visible;
	}
	.btmWrap {
		width: 1140px;
	}
}
// @media only screen and (max-device-width: $start-width)
// {
// 	.gW {width:100%;}
// 	html, body, .stickyWrap {
// 	    height: auto;
// 	}
// 	.infoSection, .boxWrap {
// 	    margin: 0 5%;
// 	    width: 90%;
// 	    position: relative;
// 	    top: auto;
// 	}
// 	.box.active .hideShow {
// 		clear: both;
// 	    width: 100%;
// 	}
// }
@media only screen and (min-width: 300px) and (max-width: 760px)
{
	html, body, .stickyWrap {
	    height: auto;
	}
	.stickyWrap {
		overflow-x: visible;
	}
	small {display: none;}
	body {
		background-size: auto auto;
		background-position: 80% 0;
	}
	.lpchat-container {display: none !important;}
	.header {
		h1 {display: none;}
		.logo {
			border-right: 0 none;
			float: none;
			width: 124px;
		}
		.chat {
			width: 74px;
			top: 40px;
			right: 0;
			color: #929BAB;
			background: none;
			&:hover {
				color: #fff;
				background: rgba(#474F5D, 0.6);
			}
		}
	}
	.gW, .learnWrap {width:100%;}
	.aboutOverlay .overlayContent{
		top: 2%;
		width: 90%;
		margin: 0 0 0 -45%;
	}
	.box .moneyback {
		left: -20px;
		top: -160px;
		background-size: 60%;
	}
	.box, .infoSection .infoBox {
		min-height: 0;
		height: auto;
	}
	.infoSection, .boxWrap, .breadWrap {
	    margin: 0 5%;
	    width: 90%;
	    position: relative;
	    top: auto;
	    clear: both;
	}
	.infoSection {
		margin: 5%;
		padding: 0 4% 25%;
	}
	.breadWrap {
	    margin: 26px 5%;
	}
	.infoSection .infoBox.active {
		padding: 4% 0;
		display: block;
	}
	.box.active .hideShow {
		clear: both;
	    position: relative;
	    width: 100%;
	}
	.box h2 {font-size: 120%;}
	.box h4 {font-size: 100%;}
	.moreBox {
		width: 100%;
		min-height: 0;
	}
	.learnWrap .moreBox {
		width: 100%;
	}
	.learnWrap .moreImg, .learnWrap .moreContent {
	    display: block;
	    height: auto;
	    width: 90%;
	    margin: 0 5%;
	    float: none;
	}
	.learnMore {
	    margin: 8% 0 -50px -45px;
	    position: relative;
	    width: 70px;
	}
	.learnWrap.center {
		.moreImg, .moreContent {
			display: block;
		    height: auto;
		    width: 90%;
		    margin: 0 5%;
		    float: none;
		}
	}
	.boxFooter span {
	    display: block;
	    margin: 8px 0;
	}
	.btmWrap {
		width: 100%;
	}
	#payment.box .moneyback,
	#sub.box .moneyback {
		right: auto;
		left: -20px;
		top: -160px;
	}
	#sub.box {
		.option {
			width: 80%;
			margin: 0 auto 2%;
			float: none;
			&.better {
				margin: 0 auto 2%;
			}
			.leadIcon {
				background-size: auto 60px;
				width: 108px;
				height: 70px;
				margin: 0 auto;
			}
			&.good .leadIcon {
				background-position: 0 center;
			}
			&.better .leadIcon {
				background-position: -118px center;
			}
			&.best .leadIcon {
				background-position: -238px center;
			}
		}
	}
}